@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for CSS variables and theme setup */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --ring: 215 20.2% 65.1%;
    --primary: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --accent: 240 4.8% 95.9%;
    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --ring: 240 4.9% 83.9%;
    --primary: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --accent: 217.2 32.6% 17.5%;
    --border: 217.2 32.6% 17.5%;
  }

  body {
    @apply bg-background text-foreground font-poppins;
  }

  *:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsl(var(--ring) / 0.5);
  }
}
